<!doctype html>
<html lang="en">

<head>
    <title>
        <%= locals.page %> - Prowser
    </title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="/assets/img/favicon.png" type="image/x-icon" />
    <link rel="stylesheet" href="/assets/css/main.min.css" />
    <link rel="stylesheet" href="/assets/css/styles.css" />
</head>

<body>
    <header class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                <img src="/assets/img/full_logo.png" alt="Bootstrap" width="60" height="54">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <% locals.links.forEach(link=> { %>
                        <% if (locals.page==link.name) { %>
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="<%= link.url %>">
                                    <%= link.name %>
                                </a>
                            </li>
                            <% } else { %>
                                <li class="nav-item">
                                    <a class="nav-link" href="<%= link.url %>">
                                        <%= link.name %>
                                    </a>
                                </li>
                                <% } %>
                                    <% }) %>
                </ul>
            </div>
        </div>
    </header>
    <main class="container mx-auto px-0">
        <div class="row py-5 text-center">
            <h1 class="mb-3">Curriculum Vitae</h1>
            <h2>Personalia</h2>
            <p>Naam: Julian Verwoerd</p>
            <p>Geboortedatum: 19 december 2008</p>
            <p>Woonplaats: Veenendaal</p>
            <p>Nationaliteit: Nederlands</p>
            <h2>Opleiding</h2>
            <p>Middelbare school: Havo opleiding Veenendaal t\m klas 3 afgemaakt</p>
            <p>Technova college MBO 4 Software developer vanaf september 2024</p>

            <h2>Vaardigheden</h2>
            <p>Rustig / Introvert</p>
            <p>Gedisciplineerd</p>
            <p>Nieuwsgierig</p>
            <p>Onderzoekend</p>
            <p>Creatief</p>
            <p>Doorzettend</p>
            <p>Autodidact</p>
        </div>
    </main>
    <script src="/assets/js/utils.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
        integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
        crossorigin="anonymous"></script>
</body>

</html>