<!doctype html>
<html lang="en" data-bs-theme="dark">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="/img/logo_80.png">
    <title>
        <%= short %> - <%= title %>
    </title>
    <link href="/css/styles.min.css" rel="stylesheet" crossorigin="anonymous">
    <link href="/css/styless.css" rel="stylesheet" crossorigin="anonymous">
</head>

<body class="d-flex flex-column min-vh-100">
    <nav class="navbar navbar-expand-lg navbar-dark bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                <img src="/img/logo_80.png" alt="Logo" width="auto" height="45"
                    class="d-inline-block align-text-center">
                <%= name %>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav d-flex ms-auto">
                    <% links.forEach(link=> { %>
                        <% if (link.name===title) { %>
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="<%= link.url %>">
                                    <%= link.name %>
                                </a>
                            </li>
                            <% } else { %>
                                <li class="nav-item">
                                    <a class="nav-link" href="<%= link.url %>">
                                        <%= link.name %>
                                    </a>
                                </li>
                                <% } %>
                                    <% }) %>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container mt-4">
        <div class="row">
            <div class="col-6 mx-auto">
                <h1 class="mb-4 display-5">Over mij</h1>
                <div class="mb-5">
                    <p>
                        Hoi! Ik ben Julian Verwoerd, 16 jaar en ik woon in Veenendaal. Ik zit op het mbo als Software
                        Developer
                        en ben al vroeg begonnen met programmeren. Doordat ik autodidact ben heb ik veel dingen zelf
                        geleerd
                        door op onderzoek te gaan en er daarna mee te experimenteren en ze uit te proberen.
                    </p>
                    <p>
                        Ik ben rustig en introvert, maar kan me goed concentreren op wat ik doe. Vooral back-end en apps
                        vind ik
                        interessant. Hobbymatig maak ik ook vaak kleine game-ideeën. Ik vind het gaaf om te zien hoe
                        iets onder
                        de motorkap werkt en om creatieve oplossingen te bedenken.
                    </p>
                    <p>
                        Ik kan goed zelfstandig werken, maar ook in een team gaat het prima. Ik ben rustig, creatief en
                        empathisch, dus ik luister graag en help waar ik kan. Ik kijk niet tegen problemen op, ik zie ze
                        juist
                        als uitdagingen. Er is bijna altijd wel een oplossing te vinden en het geeft me energie om die
                        te
                        bedenken.
                    </p>
                    <p>
                        Naast programmeren heb ik genoeg andere hobby's. Ik game en programmeer graag, rij brommers en
                        sleutel
                        er ook aan. Ook maak ik graag muziek en vind ik auto's erg interessant. Ik bezoek graag
                        autoshows en
                        brommer evenementen en doe leuke dingen met vrienden.
                    </p>
                    <p>
                        Wat ik later precies wil doen weet ik nog niet, maar het moet iets in de techwereld zijn. Zolang
                        ik kan
                        leren en bouwen, ben ik enthousiast en zit ik op mijn plek.
                    </p>
                    <p>
                        Voor meer informatie of bij interesse kun je <a href="/contact">hier</a> contact met mij
                        opnemen!
                    </p>
                </div>
                <a class="btn big-btn btn-primary fs-4 mb-5" href="/CV Julian.pdf">Bekijk hier mijn CV <i
                        class="fa-solid fa-link"></i></a>
                </div>
                <div class="col-4 mx-auto align-items-center justify-content-center d-flex">
                    <img src="/img/me.jpeg" alt="Foto van mijzelf" class="img-fluid rounded mx-auto d-block mb-5">
                </div>
            </div>
        </div>
    </div>
    <footer class="bg-body-tertiary text-center py-3 mt-auto pt-4">
        <div class="container">
            <div class="row align-items-center">
                <div class="col text-center">
                    <img src="/img/logo_80.png" alt="Logo" width="auto" height="100">
                </div>
                <div class="col text-center">
                    <h3 class="mb-3">Contact</h3>
                    <p class="mb-1">Julian Verwoerd</p>
                    <p class="mb-1">
                        <a href="&#x6d;&#x61;&#x69;&#x6c;&#x74;&#x6f;&colon;&#x6a;&#x75;&#x6c;&#x69;&#x61;&#x6e;&period;&#x76;&#x65;&#x72;&#x77;&#x6f;&#x65;&#x72;&#x64;&commat;&#x70;&#x61;&#x6e;&#x74;&#x72;&#x6f;&#x6e;&#x69;&#x63;&period;&#x6e;&#x6c;">&#x6a;&#x75;&#x6c;&#x69;&#x61;&#x6e;&period;&#x76;&#x65;&#x72;&#x77;&#x6f;&#x65;&#x72;&#x64;&commat;&#x70;&#x61;&#x6e;&#x74;&#x72;&#x6f;&#x6e;&#x69;&#x63;&period;&#x6e;&#x6c;</a>
                    </p>
                    <p class="mb-3">
                        <a href="&#x74;&#x65;&#x6c;&colon;&plus;&#x33;&#x31;&#x36;&#x32;&#x34;&#x37;&#x39;&#x39;&#x38;&#x37;&#x36;">&#x30;&#x36;&#x2d;&#x32;&#x34;&#x37;&#x39;&#x39;&#x38;&#x37;&#x36;</a>
                    </p>
                    <div class="d-inline-block">
                        <a class="icon-link" href="https://www.linkedin.com/in/julian-v-84a02a356/" target="_blank">
                            <i class="fa-brands fa-linkedin fa-lg"></i>
                        </a>
                        <a class="icon-link" href="https://github.com/jul1xn" target="_blank">
                            <i class="fa-brands fa-github fa-lg"></i>
                        </a>
                    </div>
                </div>
                <div class="col text-center">
                    <h3 class="mb-3">Navigatie</h3>
                    <ul>
                        <% links.forEach(link=> { %>
                            <li>
                                <a href="<%= link.url %>">
                                    <%= link.name %>
                                </a>
                            </li>
                            <% }) %>
                    </ul>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col">
                    <span class="text-muted">
                        &copy; <%= new Date().getFullYear() %>
                            <%= name %>
                    </span>
                </div>
            </div>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
        crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/632e967be3.js" crossorigin="anonymous"></script>
</body>

</html>